.student-name {
    margin-top: 5px;
    color: green;
}
.student-box {
    width: 300px;
}

.Classes {
    color: red;
}

.terms-conditions {
    margin-top: 10px;
    margin-left: 5px;
}

.buttons {
    margin-top: 15px;
}