.first-box {
    background-color: green;
    border: none;
    width: 500px;
    height: 30px;
    border-radius: 4px;
}

.second-box {
    background-color: blue;
    border: none;
    width: 246px;
    height: 30px;
    border-radius: 4px;
    margin-top: 5px;
}

.third-box {
    background-color: red;
    border: none;
    width: 119px;
    height: 30px;
    border-radius: 4px;
    margin-top: 5px;
}

.fourth-box {
    background-color: green;
    border: none;
    width: 500px;
    height: 30px;
    border-radius: 4px;
    margin-top: 5px;
}

.boxes {
    text-align: center;
    margin-top: 400px;
    margin-bottom: 400px;
}